body {
    background-color:papayawhip;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px darkblue;
    padding: 20px;
    front-size: 32px;
    color:black
}

.