body {
    background-color:black;
    color:rgb(2, 245, 2);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(4, 245, 4);
    padding: 20px;
    front-size: 32px;
    color:rgb(1, 249, 1);
}

.